nav{
    text-align: left;
    color:navy
}
#fake{
    background-color: lightgrey;
    color: blue;
}
#side{
    background-color: navy;
}
#link{
    background-color: white;
}
h2{
    color: red;
    text-align: left;
}
h1{
    color: rgb(8, 14, 74);
    text-align: left;
}
#h8{
    Color:white
}

#main{
    border-color: red;
    border-radius: 2px;
    border-style: solid;
    border-width: 5px;
    margin-bottom: 18px;
}
.image-row {
    display: flex;
    justify-content: space-between;
}

